spring:
    config:
        activate:
            on-profile: local

    datasource:
        url: jdbc:postgresql://localhost:5432/petrocarga
        username: postgres
        password: 123456
        driver-class-name: org.postgresql.Driver
        hikari:
            maximum-pool-size: 5
    jpa:
        show-sql: true
    flyway:
        url: jdbc:postgresql://localhost:5432/petrocarga
        user: postgres
        password: 123456

    # Configuração SMTP Gmail para envio real de emails
    mail:
        host: smtp.gmail.com
        port: 587
        username: cpt.petrocarga@gmail.com
        password: bqmx mjec zeny bnkd
        properties:
            mail:
                smtp:
                    auth: true
                    starttls:
                        enable: true
                        required: true
                    connectiontimeout: 5000
                    timeout: 5000
                    writetimeout: 5000
        from: cpt.petrocarga@gmail.com
    
app:
    firebase-push-notification:
        enabled: false
        credentials: "classpath:firebase-service-account.json"
    cookie-settings:
        secure: false
        same-site: Lax

logging:
    level:
        org:
            hibernate:
                sql: info