spring:
    config:
        activate:
            on-profile: local

    datasource:
        url: jdbc:postgresql://localhost:5432/petrocarga
        username: postgres
        password: 123456
        driver-class-name: org.postgresql.Driver
        hikari:
            maximum-pool-size: 5

    flyway:
        url: jdbc:postgresql://localhost:5432/petrocarga
        user: postgres
        password: 123456